<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @engine.name %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @engine.serial_number %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @engine.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @engine.model %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @engine.notes %>
</p>

<p>
  <strong>Aircraft:</strong>
  <%= @engine.aircraft %>
</p>

<%= link_to 'Edit', edit_engine_path(@engine) %> |
<%= link_to 'Back', engines_path %>
