<%= form_with(model: custom_cat, local: true) do |form| %>
  <% if custom_cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(custom_cat.errors.count, "error") %> prohibited this custom_cat from being saved:</h2>

      <ul>
      <% custom_cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :custom_cat_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :custom_cat_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
