<%= form_with(model: work_location, local: true) do |form| %>
  <% if work_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_location.errors.count, "error") %> prohibited this work_location from being saved:</h2>

      <ul>
      <% work_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :work_location_description %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :work_location_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
