<p id="notice"><%= notice %></p>

<p>
  <strong>N number:</strong>
  <%= @aircraft.n_number %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @aircraft.serial_number %>
</p>

<p>
  <strong>Ac make model:</strong>
  <%= @aircraft.ac_make_model %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @aircraft.notes %>
</p>

<%= link_to 'Edit', edit_aircraft_path(@aircraft) %> |
<%= link_to 'Back', aircrafts_path %>
