<%= form_with(model: ac_make_model, local: true) do |form| %>
  <% if ac_make_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ac_make_model.errors.count, "error") %> prohibited this ac_make_model from being saved:</h2>

      <ul>
      <% ac_make_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :abbreviation %>
    <%= form.text_field :abbreviation, id: :ac_make_model_abbreviation %>
  </div>

  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer, id: :ac_make_model_manufacturer %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :ac_make_model_model %>
  </div>

  <div class="field">
    <%= form.label :family %>
    <%= form.text_field :family, id: :ac_make_model_family %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
